<div class="container my-4 px-5">
  <h2>Add Question</h2>
  <button class="btn btn-primary"  routerLink="" routerLinkActive="active">Home</button>
  <hr>
  
    <!-- {{addQuestionForm.value | json}}   -->
  <form [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="">Question</label>
      <input type="text" [class.is-invalid]="questionDef.invalid && questionDef.touched" class="form-control" formControlName="questionDef">
      <div *ngIf="questionDef.invalid && questionDef.touched">
        <small *ngIf="questionDef.errors ?.required" class="text-danger">Question is required</small>
      </div> 
    </div>
    <div class="form-group">
      <label for="">Language</label>
      <select formControlName="language" name="" id="" class="custom-select">
        <option value="">Select a Language</option>
        <option value="Java">Java</option>
        <option value="C++">C++</option>
        <option value="MySql">MySQL</option>
        <option value="Angular">Angular</option>
        <option value="Vue">Vue</option>
        <option value="ReatJs">ReactJs</option>
        <option value=".NET">.NET</option>
        <option value="MongoDB">MongoDB</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Answer</label>
      
      <textarea [class.is-invalid]="answer.invalid && answer.touched" class="form-control" rows="3" formControlName="answer"></textarea>
      <small class="text-danger" [class.d-none]="answer.valid || answer.untouched">Answer is required</small>
      <button [disabled]="answer.invalid" class="btn btn-secondary btn-sm mt-1" (click)="addMoreAnswers()" type="button">Add More Answers</button>
      <div formArrayName="moreAnswers" *ngFor="let answer of moreAnswers.controls; let i=index">
        
        <textarea class="form-control mt-1" rows="2" [formControlName]="i"></textarea>
      </div>
    </div>
    <button [disabled]="!addQuestionForm.valid" class="btn btn-block btn-primary" >Add Question</button>
  </form>
</div>